<%- include('../partials/dashboard/header.ejs') %>

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">

        <!-- Page Content -->
        <div class="main">

            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore ad facere beatae, accusamus quas quo illo unde? Perferendis, aut aliquid minima blanditiis, tempora maxime, eaque beatae excepturi maiores ullam ea!</h3>
            <br>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>