<%- include('partials/header') %>

    Home page
    <br>
    <button type="button"><a href="/login">Go to login</a></button>
    <button type="button"><a href="/dashboard">Go to dashboard</a></button>

<%- include('partials/footer') %>