<%- include('partials/header') %>

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="/css/styles.css">

    <h1>Home page</h1>
    <br>
    <button type="button" class="btn btn-info"><a href="/dashboard">Go to Dashboard</a></button>

<%- include('partials/footer') %>