body {
    font-family: 'Poppins', sans-serif;
}

.button {
    text-align: right;
    padding-top: 1%;
    margin-right: 2%;
}

.button a{
    color: white;
}

.navbar {
    padding-left: 2%;
    padding-right: 2%;

    font-size: 150%;
}
  
.navbar-brand {
    font-size: 150%;
    font-weight: 500;
}
  
.nav-link {
  
      font-size: 90%;
      padding-left: 2%;
}